.header {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.header > h3, h5 {
    margin: 0;
    padding-top: 20px;
    text-align: center;
}

.body {
  display: flex;
  flex-direction: column;
}
/* Include any custom CSS styling here! */

